*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

footer{
    min-height: 100px;
}

.gifts {
    min-height: 100vh;
    width: 100%;
}


.img-container {
    position: relative;
    width: 100%;
}

.img-container img {
    width: 100%;
}


/* ALLA KLAPPARNA */
.surprise {
    cursor: pointer;
    height: 5%;
    width: 5%;
    position: absolute;
    top: 39%;
    left: 24%;
    transform: rotate(15deg);
}

.easter {
    cursor: pointer;
    height: 5%;
    width: 5%;
    position: absolute;
    top: 25.5%;
    left: 24.5%;
    transform: rotate(55deg);
}

.egg{
    cursor: pointer;
    height: 3.5%;
    width: 3.5%;
    position: absolute;
    top: 21%;
    left: 33%;
    transform: rotate(-6deg);
}

.gift {
    cursor: pointer;
    height: 3%;
    width: 3%;
    position: absolute;
    top: 27.4%;
    left: 31.4%;
    transform: rotate(-27deg);
}

.present {
    cursor: pointer;
    height: 4%;
    width: 5.5%;
    position: absolute;
    top: 33.5%;
    left: 29.4%;
    transform: rotate(45deg);
}

.klapp {
    cursor: pointer;
    height: 4%;
    width: 5%;
    position: absolute;
    top: 42.5%;
    left: 30%;
    transform: rotate(-45deg);
}

.box {
    cursor: pointer;
    height: 5%;
    width: 9%;
    position: absolute;
    top: 51%;
    left: 32%;
    transform: rotate(-20deg);
}

.paket{
    cursor: pointer;
    height: 7%;
    width: 4%;
    position: absolute;
    top: 47.5%;
    left: 41.5%;
    transform: rotate(-30deg);
}

.gava {
    cursor: pointer;
    height: 8%;
    width: 6%;
    position: absolute;
    top: 59.3%;
    left: 22.5%;
    transform: rotate(-10deg);
}   

.lada {
    cursor: pointer;
    height: 13%;
    width: 4.5%;
    position: absolute;
    top: 64%;
    left: 30.8%;
    transform: rotate(-37deg);
}   

.burk {
    cursor: pointer;
    height: 7%;
    width: 4%;
    position: absolute;
    top: 67.5%;
    left: 41.5%;
    transform: rotate(-44deg);
}   

.kartong {
    cursor: pointer;
    height: 8%;
    width: 5.5%;
    position: absolute;
    top: 88.5%;
    left: 54.3%;
    transform: rotate(-8deg);
}   

.elf {
    cursor: pointer;
    height: 100px;
    width: 100px;
    z-index: 2;
    position: absolute;
    top: 20%;
    transform: translateX(-500%) rotate(0deg);
    transition: transform .5s, rotate .5s;
}

.bubble {
    height: 200px;
    width: 200px;
    padding: 1rem;
    background-color: #fff;
    position: absolute;
    top: 10%;
    right: 10%;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 1s;

    &::before{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 20px;
        bottom: -40px;
        border: 20px solid;
        border-color: #ffffff #ffffff transparent transparent;
    }

    
}