*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

footer{
    min-height: 100px;
}

.gifts {
    min-height: 100vh;
    width: 100%;
}

.surprise {
    background-color: rgba(255, 0, 0, 0.452);
    height: 5%;
    width: 5%;
    position: absolute;
    top: 39%;
    left: 24%;
    transform: rotate(15deg);
}

.img-container {
    position: relative;
    width: 100%;
}

.img-container img {
    width: 100%;
}