*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

footer{
    min-height: 100px;
}

.gifts {
    min-height: 100vh;
    width: 100%;
}


.img-container {
    position: relative;
    width: 100%;
}

.img-container img {
    width: 100%;
}


/* ALLA KLAPPARNA */
.surprise {
    height: 5%;
    width: 5%;
    position: absolute;
    top: 39%;
    left: 24%;
    transform: rotate(15deg);
}

.easter {
    height: 5%;
    width: 5%;
    position: absolute;
    top: 25.5%;
    left: 24.5%;
    transform: rotate(55deg);
}

.egg{
    height: 3.5%;
    width: 3.5%;
    position: absolute;
    top: 21%;
    left: 33%;
    transform: rotate(-6deg);
}

.gift {
    height: 3%;
    width: 3%;
    position: absolute;
    top: 27.4%;
    left: 31.4%;
    transform: rotate(-27deg);
}

.present {
    height: 4%;
    width: 5.5%;
    position: absolute;
    top: 33.5%;
    left: 29.4%;
    transform: rotate(45deg);
}

.klapp {
    height: 4%;
    width: 5%;
    position: absolute;
    top: 42.5%;
    left: 30%;
    transform: rotate(-45deg);
}

.box {
    height: 5%;
    width: 9%;
    position: absolute;
    top: 51%;
    left: 32%;
    transform: rotate(-20deg);
}

.paket{
    height: 7%;
    width: 4%;
    position: absolute;
    top: 47.5%;
    left: 41.5%;
    transform: rotate(-30deg);
}

.gava {
    height: 8%;
    width: 6%;
    position: absolute;
    top: 59.3%;
    left: 22.5%;
    transform: rotate(-10deg);
}   

.lada {
    height: 13%;
    width: 4.5%;
    position: absolute;
    top: 64%;
    left: 30.8%;
    transform: rotate(-37deg);
}   

.burk {
    height: 7%;
    width: 4%;
    position: absolute;
    top: 67.5%;
    left: 41.5%;
    transform: rotate(-44deg);
}   

.kartong {
    height: 8%;
    width: 5.5%;
    position: absolute;
    top: 88.5%;
    left: 54.3%;
    transform: rotate(-8deg);
}   

.elf {
    height: 100px;
    width: 100px;
    z-index: 2;
    position: absolute;
    top: 20%;
    transform: translateX(-100%) rotate(0deg);
    transition: transform .5s, rotate .5s;
}